@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

#root {
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-bottom: -50px; */
  /* border-bottom: 2px solid black; */
}

/* footer {
  background-color: whitesmoke;
} */

html,
body {
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  font-family: "Fjalla One", sans-serif !important;
  /* background:  */
  /* linear-gradient(325deg, rgb(3 88.843 140.569) 0%, rgb(3.265 88.907 140.553) 6.25%, rgb(3.492 76.723 140.298) 12.5%, rgb(36.945% 0% 60.253%) 18.75%, rgb(45.411% 6.4% 49.67%) 25%, rgb(57.004% 4.066% 47.637%) 31.25%, rgb(68.176% 7.509% 44.247%) 37.5%, rgb(77.887% 16.593% 39.797%) 43.75%, rgb(217.257 171.13 115.547) 50%, rgb(217.992 171.165 115.569) 56.25%, rgb(217 171 115.089) 62.5%, rgb(217.313 171.281 115) 68.75%, rgb(217.625 171.087 115) 75%, rgb(242.395 218.529 145) 81.25%, rgb(242.565 218.573 145) 87.5%, rgb(242.9 218.202 145.37) 93.75%, rgb(242.961 218.412 145.412) 100% )
   ; */
}

code {
  font-family: "Fjalla One", sans-serif;
  background-color: aqua;
}

Header {
  background-color: aqua;
}

.bg-myBlue {
  background-color: #2a2b2b;
  border-bottom: solid #0d0d0d 2px;
}


#signup {
  background-color: #f2db94;
  border: none;
  border-radius: 5px;
  color: #0d0d0d;
}
#signin {
  background-color: #f2db94;
  border: none;
  border-radius: 5px;
  color: #0d0d0d;
}

.gearBox {
  display: flex;
  flex-wrap: wrap;
}

#showContainer {
  flex-wrap: wrap;
  width: 60%;
}

#displayBox {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.marker {
  background-image: "/mapbox-icon\ \(1\).png";
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.viewAdventure {
  text-decoration: none;
  color: #0d0d0d;
}
.viewAdventure:hover {
  color: #a6845b;
}

.commentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}
